<html>
<head>
<title>userpage</title>
<style>
</style>
</head>
<body>
Hi {{ username }} , Welcome back 
<form>
<table>
<caption>Registration</caption>
<tr>
<td>First Name</td>
<td><input type="text" name="fname"></td>
</tr>
<tr>
<td>Last name</td>
<td><input type="text" name="lname"></td>
</tr>
<tr>
<td>College name</td>
<td><input type="text" name="cname"></td>
</tr>
<tr>
<td>Gender</td>
<td><input type="radio" name="gender"></td>
</tr>
<tr>
<td>CATEGORY</td>
<td><input type="radio" name="category"></td>
</tr>
<tr>
<table>









</body>
</html>